.table-mahasiswa {
  width: 100%;
  border-collapse: collapse;
}

.table-mahasiswa > tbody > tr {
  border: 1px solid white;
}

.table-mahasiswa > tbody > tr > td {
  padding: 10px;
}

.select-container {
  min-width: 100px;
}

.select-input {
  width: 100%;
}

.img-container {
  display: flex;
  vertical-align: middle;
  /* justify-content: center; */
  align-items: center;
}

.imgview {
  max-width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-container {
  margin-top: 20px;
  text-align: right;
}

.btn {
  background-color: #646cff;
  min-width: 100px;
}

.output-container, .output {
  text-align: left;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
